<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
     <div class="doc-container"> 
        <div class="doc-image-info">
            <div class="image-sec">
                <img src="https://imagesx.practo.com/providers/dr-tejas-suresh-rao-general-physician-bangalore-379816db-bb32-40b6-96cb-c5b356602f82.jpg?i_type=t_100x100"
                    alt="Dr. Tejas Suresh Rao General Physician in Bangalore">
                <span class="badge">
                    <img src="https://www.practostatic.com/web-assets/images/prime_badge.8f4ca26c7f36.svg">
                </span>
                <button class="u-t-capitalize u-bold view-profile">
                    View Profile
                </button>
            </div>


            <div class="info">
                <h2> Dr. Tejas Suresh Rao</h2>
                <h5> General Physician</h5>
                <h5>13 years experience overall</h5>
                <div class="hosp-detail">
                    <span>Yeshwanthpur,</span> Bangalore<span> Manipal Hospitals Yeshwanthpur</span><span>+2 and
                        more</span>
                </div>
                <span>800rs consulation fee at clinic</span>
                <div>
                    <span class="o-label--success u-bold">
                        <i class="icon-ic_like_filled">
                        </i>
                        <span data-qa-id="doctor_recommendation">
                            95%
                        </span>
                    </span>
                    <span class="u-bold u-t-underline">
                        30&nbsp;
                        <span>
                            Patient Stories
                        </span>
                    </span>
                </div>


            </div>
        </div>
        <div class="book-apt-sec">

            <div class="available"><i data-qa-id="time_icon" class="c-card__icon icon-ic_calendar u-valign--top">
                </i>
                <span data-qa-id="availability_text">
                    Available Tomorrow
                </span>

            </div>


            <button class="u-t-capitalize u-bold u-round-corner--large c-btn--dark-medium">
                Book Clinic Visit
                <div class="u-xx-small-font">
                    No Booking Fee
                </div>
            </button>

        </div>


    </div> 
</body>

</html>