@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    font-family: poppins, sans-serif;
    font-size: 0.9rem;
}
li{
    list-style: none;
}
#navbar{
    background-color: #0b76c6;
    position: fixed;
    top:0;
    z-index: 1000;
    width:100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#nav-cont{
    /* border:1px solid black; */
    width:84%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    color:white;
    font-weight: 300;
}
#nav-logo{
    /* border:1px solid black; */   
    width:8%;
    padding:5px 0;
    /* width:8%; */
}
#nav-logo:hover{
    cursor: pointer;
}
#nav-img{
    width:100%;
    height:3.5rem;
    /* border:1px solid black; */
}
#nav-img>img{
    width:100%;
    height:3.5rem;
    object-fit: contain;
    /* border:1px solid black;  */
    transition: transform .2s;
}
#nav-img>img:hover{
    transform: scale(1.1);
    cursor:pointer;
}
#nav-menu{
    /* border:1px solid black; */
    display: flex;
    width:45%;
    align-items: center;
    justify-content: space-between;
}
#nav-menu>li:hover{
    cursor: pointer;
    text-decoration: underline;
}
#nav-menu a{
    text-decoration: none;
    color:white;
}
#nav-user-details{
    /* border:1px solid black; */
    width:15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#nav-user-details>button{
    border:1px solid white;
    background-color: white;
    color:#0b76c6;
    font-weight: bold;
    padding:5px 10px;
    border-radius: 5px;
    transition: transform .2s;
}
#nav-user-details>button:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.nav-active{
    color:red;
}
.land-sections{
    /* border:1px solid black; */
    width:77rem;
    margin: 4.5rem auto;
}
#land-video{
    width:100%;
    /* border:1px solid red; */
}
#land-video>img{
    width:100%;
}
#land-video>video{
    border:1px solid green;
    width:100%;
    height:30rem;
}
#feature-cont{
    display:flex;
    justify-content: space-between;
}
.feature-card{
    width:16%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    transition: transform .2s;
}
.feature-card:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.feature-img{
    width:100%;
    /* border:1px solid black; */
}
.feature-img>img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width:100%;
}
.feature-desc{
    padding:12px;
}
.feature-desc>*{
    margin:10px 0;
}
.feature-desc>p{
    color:gray;
    font-size: 15px;
}
#consult-head>*{
    margin:7px 0;
}
#consult-body{
    display:flex;
    justify-content: space-between;
    margin:30px 0;
}
.consult-card{
    width:16%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    border-radius: 10px;
    transition: transform .2s;
}
.consult-card:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.c-c-img{
    width:100%;
    /* border:1px solid black; */
}
.c-c-img>img{
    width:100%;
    height:12rem;
    border-radius: 50%;
    /* border:1px solid black; */
}
.c-c-desc{
    padding:10px;
    text-align: center;
}
.c-c-desc>*{
    margin:5px 0;
}
.c-c-desc>a{
    color:rgb(0, 183, 255);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
/* .land-sections-dept{
    width:85rem;
    margin:auto;
} */
.dept-card{
    width:100%;
    position:relative;
}
.dept-card>img{
    width:100%;
    border-radius:1rem;
    margin:1rem 0;
}
#dept-sec>div:nth-child(odd)>.dept-body{
    width:30rem;
    position:absolute;
    top:4rem;
    left:5rem;
}
#dept-sec>div:nth-child(even)>.dept-body{
    width:30rem;
    position:absolute;
    top:4rem;
    right:5rem;
}
.dept-body>h1{
    font-size:35px;
    margin-bottom: 2rem;
}
.dept-body>p{
    line-height: 1.5rem;
    color:rgb(107, 107, 107);
}
#footer{
    /* border:1px solid red; */
    width:99.9%;
    background-color: #186dae;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;   
}
#footer-cont{
    width:80%;
    margin:auto;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    padding-top:2rem;
    color:white;
}
#footer-left{
    width:50%;
    display: flex;
    justify-content: space-between;
    /* border:1px solid blue; */
}
#footer-left>div>h4{
    margin-bottom:0.5rem;
    text-decoration: underline;
}
#footer-left>div>p{
    font-size: 15px;
    margin-bottom: 3px;
}
#footer-left>div>p:hover{
    color: lightgrey;
    text-decoration: underline;
    cursor: pointer;
}
#footer-right{
    /* border:1px solid blue; */
    width:17%;
}
#logo-div{
    width:100%;
    height:10rem;
    /* border:1px solid black; */
}
#logo-div>img{
    width:100%;
    height:10rem;
    object-fit: contain;
}
#socials{
    width:75%;
    margin:1rem auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
